.info {
  width: 100%;
  min-height: 100%;
  min-width: 1024px;
  background: url("./th.jpg") no-repeat center center;
  background-size: cover;
  padding: 30px 0;
}
.info-wrap {
  max-width: 1368px;
  margin: 0 auto;
}
.info-header {

  min-height: 150px;
  padding: 20px;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  margin:0 auto;
  border-radius: 5px;
}
.info-header > div {
  margin:0 auto;
  padding-right: 30px;
  flex: 1;
}
.info-header h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
.info-header p {
  font-size: 16px;
  margin-bottom: 0;
}
.info-banner {
  display: flex;
  align-items: center;
  margin:0 auto;
  width:800px;
  height:500px;
  margin-bottom: 10px;
  margin-top:60px;
  margin-bottom: 25px;
}

.info-left-btn,
.info-right-btn {
  width: 55px;
  height: 55px;
  border-radius: 55px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s;
}
.info-left-btn:hover,
.info-right-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.info-banner-inner {

  flex: 1;
  padding: 0 40px;
}
.info-banner-inner > div {
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  min-height: 460px;
  font-size: 20px;
  margin: 0 auto;

}

.info-img {
  margin: auto;
}
.info-text {
  margin: auto;

}
.info-content{
  display: flex;
  border-radius: 5px;

}
