
.map {
  background: url("https://www.c-diversity.social/images/iter3/back4.jpg") no-repeat center center;
  background-size: cover;
}
.map-header {
  height: 180px;
  background: url("https://www.c-diversity.social/images/iter3/back5.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 30px;
  width: 78%;
  margin: 0 auto;

  border-radius: 5px;
}
.map-block {
  padding: 15px;
  background-color: #fff;
  width: 78%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 25px;
  background: url("https://www.c-diversity.social/images/iter3/back5.jpg") no-repeat center center;

  border-radius: 5px;
}
.map-block h3 {
  font-size: 40px;

}
.map-header h3 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 25px;

}
.map-header select {
  line-height: 40px;
  width: 200px;
  display: inline-block;
  height: 40px;
  margin: 0 50px;
}
.select-wrap {
  text-align: center;
}
.icon {
  position: relative;
  color: #2929f0;
}