.title1 title2{
    height: 100%;
    background: url('https://www.culturallydiversity.tk/images/iter3/back1.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 30px;
    position: relative;
}
.title1-context {
    padding: 15px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    width: 500px;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
}
.title1-context h3{
    font-size: 20px;
    font-weight: 700;
}
.title1-context p{
    font-size: 16px;
}
.title2 {
    background: url("https://www.culturallydiversity.tk/images/iter3/back2.jpg") no-repeat center center;
}
.scroll {
    max-width: 1368px;
    matgin: 0 auto;
    height: 100%;
    overflow-y: auto;
}
