*{
    box-sizing: border-box;
}
html{
  overflow: hidden;
}
body{
  overflow-y: auto;
}
.home1 {
    matgin: 0 auto;
    height: 100%;
    overflow-y: auto;
}
.title1,
.title2{
    height: 100%;
    background: url('https://www.c-diversity.social/images/iter3/back1.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 30px;
    position: relative;
}
.title1-context {
    padding: 15px;
    position: absolute;
    right: 40px;
    bottom: 0;
    background-color: #fff;
    width: 50%;
    height: 70%;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.title1-context h3{
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
}
.title1-context p{
    font-size: 27px;
    margin-top: 10px;

}
.title2 {
    background: url("https://www.c-diversity.social/images/iter3/back2.jpg") no-repeat center center;
}

.select{
    height: 100%;
    color: #fff;
    padding: 0 30px;
    padding-top: 30px;
    background-color: #70554b;
}
.select h2{
    font-size: 38px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-style: italic
}
.select h3{
    font-size: 32px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-style: italic
}
.flex-block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
    font-size: 34px;
    font-style: italic
}
.slect-item{
    padding: 40px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #897168;
    width: 480px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.slect-item h4{
    color: #fff;
    text-align: center;
    height: 60px;
    margin-bottom: 10px;
    font-size: 22px;
}
.slect-item img{
    display: block;
    margin: 10px auto;
}
.arrow-down{
    position: fixed;
    right:0px;
    bottom: 80px;
    width: 60px;
    color: #fff;
    padding: 2px;
    background-color: #70554b;
    text-align: center;
    background: linear-gradient(#897168 70%, #fff);
    font-size: 12px;
    z-index: 99;
    padding-bottom: 20px;
    border:1px solid #70554b;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 5px;
}
.arrow-down div {
    text-align: center;
    color: #fff;
    line-height: 1;
}
.app-button {
  min-width: 85px;
  height: 40px;
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
  opacity: 1;
}
.app-button:focus {
  outline: none;
}
.app-button:hover {
  opacity: 0.95;
}